.content {
    text-align: center;
    color: #0d3470;
}

.avatar {
    width: 8rem;
    height: 8rem;
    border: 0;
    border-radius: 50%;
    margin: 1rem auto;
}

li {
    list-style-type: none;
    margin: 1rem;
}

.hidden-li {
    display: none;
}